@charset "UTF-8";
/* Обнуляющий стиль */
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);
@import "../css/swiper-bundle.min.css";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
  font-family: HelveticaNeueRoman;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueBoldCondensed.eot");
  src: url("../fonts/HelveticaNeueBoldCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff"), url("../fonts/HelveticaNeueBoldCondensed.ttf") format("truetype"), url("../fonts/HelveticaNeueBoldCondensed.svg#HelveticaNeueBoldCondensed") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueBlackCondensed.eot");
  src: url("../fonts/HelveticaNeueBlackCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff"), url("../fonts/HelveticaNeueBlackCondensed.ttf") format("truetype"), url("../fonts/HelveticaNeueBlackCondensed.svg#HelveticaNeueBlackCondensed") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueRoman";
  src: url("../fonts/helveticaneue-roman.eot");
  src: local("☺"), url("../fonts/helveticaneue-roman.woff") format("woff"), url("../fonts/helveticaneue-roman.ttf") format("truetype"), url("../fonts/helveticaneue-roman.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot");
  src: local("☺"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.ttf") format("truetype"), url("../fonts/Inter-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot");
  src: local("☺"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype"), url("../fonts/Inter-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.eot");
  src: local("☺"), url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.ttf") format("truetype"), url("../fonts/Inter-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
._container {
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*----------------------------HEAD-----*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 20;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0.0001)), to(#1A1A1A)), -webkit-gradient(linear, left bottom, left top, from(rgba(33, 33, 33, 0.5)), to(rgba(33, 33, 33, 0.5))), url(.jpg);
  background: -o-linear-gradient(top, rgba(26, 26, 26, 0.0001) 0%, #1A1A1A 100%), -o-linear-gradient(bottom, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)), url(.jpg);
  background: linear-gradient(180deg, rgba(26, 26, 26, 0.0001) 0%, #1A1A1A 100%), linear-gradient(0deg, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)), url(.jpg);
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.logo-block__icon {
  margin: 0 9px 0 0;
}
.logo-block__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.menu-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: HelveticaNeue;
  font-weight: 700;
  line-height: 6.42;
}
.menu-block__item {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu-block__item:not(:last-child) {
  margin: 0 45px 0 0;
}
.menu-block__item:hover {
  color: #34C759;
}
/*---------------------------MAIN BLOCK-----*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.main-block {
  position: relative;
}
.main-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
  padding-top: 171px;
}
.main-block__button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-block__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #1A1A1A;
  padding: 0 57px;
  margin-bottom: 70px;
  background-color: #34C759;
  min-height: 72px;
  border-radius: 43px;
  -webkit-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.main-block__button:hover {
  padding: 0 67px;
  font-size: 22px;
  letter-spacing: 3px;
  cursor: pointer;
}
.main-block__contact {
  margin-bottom: 401px;
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-block_ibg {
  position: relative;
}

.text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.text-block__title {
  font-size: 72px;
  line-height: 1.17;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 16px;
  letter-spacing: 0.1em;
}
.text-block__title-bold {
  font-family: HelveticaNeue;
  font-weight: 700;
}
.text-block__description {
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  margin-bottom: 40px;
}
.text-block__description__upper {
  text-transform: uppercase;
}

.contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-block__image {
  margin-bottom: 16px;
}
.contact-block__text {
  font-size: 16px;
  line-height: 1.875;
}
.contact-block__description {
  opacity: 0.5;
  line-height: 2.28;
}

/*---------------------------SLIDER BLOCK-----*/
.slider-block__swiper-body {
  width: 600px;
  height: 300px;
}

/*---------------------------FOOTER BLOCK-----*/