@import "null";
@import "fonts";

// import styles swiper
@import "../css/swiper-bundle.min.css";

//ПЕРЕМЕННЫЕ


//МИКСИНЫ
@mixin container () {
	max-width: 1130px;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}
._container {
	@include container();
}

@media (max-width: 767.98px) {
	@mixin container () {
		max-width: 1130px;
		margin: 0 auto;
		padding: 0 20px;
		box-sizing: border-box;
	}
	._container {
		@include container();
	}
}
//ОСТАЛЬНЫЕ СТИЛИ
/*----------------------------HEAD-----*/
.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 20;
	// .header__body
	&__body {
	display: flex;
	align-items: center;
	min-height: 90px;
	justify-content: space-between;
	}

	// .header__logo
	&__logo {
		display: flex;
		align-items: flex-end;
	}

	// .header__menu
	&__menu {
	}
}
.header {

	// ._container
	&_container {
	}
}
.logo-block {

	// .logo-block__icon
	&__icon {
	}

}

.menu-block {

	// .menu-block__list
	&__list {
		display: flex;
		font-family: HelveticaNeue;
		font-weight: 700;
		line-height: 6.42;
	}

	// .menu-block__item
	&__item {
		transition: all 0.5s ease;
		&:not(:last-child){
			margin: 0 45px 0 0;
		}
		&:hover{
			// text-decoration: underline;
			color:#34C759;
		}
	}

	// .menu-block__link
	&__link {
	}
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
	.header {

		// .header__container

		&__container {
			padding: 0 30px;
		}

		// .header__body

		&__body {
			justify-content: space-around;
		}

		// .header__logo

		&__logo {
		}

		// .header__menu

		&__menu {
		}
}
.logo-block {

		// .logo-block__pictute

		&__pictute {
		}

		// .logo-block__icon

		&__icon {
		}
}
.menu-block {

		// .menu-block__list

		&__list {
		}

		// .menu-block__item

		&__item {
			&:not(:last-child){
				margin: 0 30px 0 0;
			}
		}

		// .menu-block__link

		&__link {
		}
}

}

@media (min-width: 320px) and (max-width: 419.98px) {
	.header {

		// .header__container

		&__container {
			padding: 0 30px;
		}

		// .header__body

		&__body {
			justify-content: space-between;
		}

		// .header__logo

		&__logo {
		}

		// .header__menu

		&__menu {
		}
}
.logo-block {

		// .logo-block__pictute

		&__pictute {
		}

		// .logo-block__icon

		&__icon {
		}
}
.menu-block {

		// .menu-block__list

		&__list {
		}

		// .menu-block__item

		&__item {
			&:not(:last-child){
				margin: 0 20px 0 0;
			}
		}

		// .menu-block__link

		&__link {
		}
}
}


/*---------------------------MAIN BLOCK-----*/
.page {
	flex: 1 0 auto;
	// .page__main-block

	&__main-block {
	}
}
.main-block {
	position: relative;

	// .main-block__body

	&__body {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 2;
		padding-top: 171px;
	}

	// .main-block__text

	&__text {
		
	}

	// .main-block__button
	&__button-block {
		display: flex;
		justify-content: center;
	}

	// .main-block__button

	&__button {
		display: inline-flex;
		align-items: center;
		font-family: HelveticaNeue;
		font-size: 18px;
		font-weight: 700;
		color: #1A1A1A;
		letter-spacing: 0.2em;
		padding: 0 57px;
		margin-bottom: 70px;
		background-color: #34C759;
		min-height: 72px;
		border-radius: 43px;
		transition: all ease-in-out 0.5s;

		&:hover{
			padding: 0 67px;
			font-size: 22px;
			letter-spacing: 3px;
			cursor:pointer;
		}
	}

	// .main-block__contact

	&__contact {
		margin-bottom: 400px;
	}

	// .main-block__image-block

	&__image-block {	
	}

	// .main-block__image

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
.main-block {

	// ._ibg

	&_ibg {
		position: relative;
	}
}
.text-block {
	display: flex;
	flex-direction: column;
	font-size: 72px;
	line-height: 1.16;
	letter-spacing: 0.1em;
	text-transform: capitalize;
	text-align: center;
	// .text-block__title

	&__title {
		font-weight: 300;
		margin-bottom: 16px;
	}

	// .text-block__title-bold

	&__title-bold {
		font-weight: 900;
	}

	// .text-block__description

	&__description {
		font-size: 16px;
		line-height: 1.625;
		margin-bottom: 40px;
		letter-spacing: -0.2px;
		opacity: 0.7;
		text-align: center;
		}

	//.text-block__description-upper
	&__description__upper{
		text-transform: uppercase;
	}
}
.contact-block {
	display: flex;
	// justify-content: space-around;
	flex-wrap: wrap;
	align-self: center;
	// gap: 90px;
	// .contact-block__item

	&__item {
		display: flex;
		// flex: 1 1 calc((100% / 3) - 180px);
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		&:not(:last-child){
			margin-right: 160px;
		}
	}

	// .contact-block__image

	&__image {
		margin-bottom: 16px;
	}

	// .contact-block__text

	&__text {
		font-size: 16px;
		line-height: 1.875;
	}

	// .contact-block__description

	&__description {
		opacity: 0.5;
		line-height: 2.28;
	}
}
@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
	.text-block {
		font-size: 62px;
		// .text-block__title
	
		&__title {
		}
		line-height: 1.16;
	
		// .text-block__title-bold
	
		&__title-bold {

		}
	
		// .text-block__description
	
		&__description {
			}
	
		//.text-block__description-upper
		&__description__upper{
		}
	}

	.contact-block {
	
		&__item {
	
			&:not(:last-child){
				margin-right: 110px;
			}
		}
	
		// .contact-block__image
	
		&__image {
		}
	
		// .contact-block__text
	
		&__text {
		}
	
		// .contact-block__description
	
		&__description {
		}
	}
}

@media (max-width: 767.98px) { 
	.text-block {
		font-size: 46px;
		// .text-block__title
	
		&__title {
			line-height: 1.16;
		}
	
		// .text-block__title-bold
	
		&__title-bold {

		}
	
		// .text-block__description
	
		&__description {
			font-size: 14px;
			line-height: 1.425;
			margin-bottom: 30px;
			}
	
		//.text-block__description-upper
		&__description__upper{
		}
	}
	.contact-block {
		gap: 10px;
			justify-content: space-around;
		&__item {
			flex: 1 1 auto;
	
			&:not(:last-child){
				margin-right: 25px;
			}
		}
	
		// .contact-block__image
	
		&__image {
		}
	
		// .contact-block__text
	
		&__text {
		}
	
		// .contact-block__description
	
		&__description {
		}
	}
}

@media (max-width: 575.98px) {
	.text-block {

		// line-height: 52px;
		// .text-block__title
	
		&__title {
			font-size: 34px;
			line-height: 1.16;
		}
	
		// .text-block__title-bold
	
		&__title-bold {

		}
	
		// .text-block__description
	
		&__description {
			font-size: 12px;
			line-height: 1.225;
			margin-bottom: 30px;
			}
	
		//.text-block__description-upper
		&__description__upper{
		}
	}

	.main-block {

		// .main-block__button-block

		&__button-block {
		}

		// .main-block__button

		&__button {
			font-size: 14px;
			letter-spacing: 0.1em;
			padding: 0 37px;
			margin-bottom: 40px;
			background-color: #34C759;
			min-height: 52px;
			border-radius: 30px;
			transition: all ease-in-out 0.5s;

		&:hover{
			padding: 0 47px;
			font-size: 16px;
			letter-spacing: 0.2em;
		}
		}
		.main-block {

			// .main-block__contact
	
			&__contact {
				margin-bottom: 300px;
			}
	}
	.contact-block {
	
			// .contact-block__item
	
			&__item {
			}
	
			// .contact-block__image
	
			&__image {
			}
	
			// .contact-block__text
	
			&__text {
				font-size: 14px;
				line-height: 1.675;
			}
	
			// .contact-block__description
	
			&__description {
			}
	}
	
	}

	.contact-block {
		gap: 10px;
		justify-content: space-around;
		&__item {
			flex: 1 1 auto;
			&:not(:last-child){
				margin-right: 0;
			}
		}
	
		// .contact-block__image
	
		&__image {
		}
	
		// .contact-block__text
	
		&__text {
		}
	
		// .contact-block__description
	
		&__description {
		}
	}

}

@media (min-width: 320px) and (max-width: 419.98px) {
	.text-block {
		// .text-block__title
	
		&__title {
			font-size: 23px;
			line-height: 1.16;
			margin-bottom: 10px;
		}
	
		// .text-block__title-bold
	
		&__title-bold {

		}
	
		// .text-block__description
	
		&__description {
			font-size: 12px;
			line-height: 1.225;
			margin-bottom: 20px;
			}
	
		//.text-block__description-upper
		&__description__upper{
		}
	}

	.main-block {
		&__body {
			padding-top: 121px;
		}
		// .main-block__button-block

		&__button-block {
		}

		// .main-block__button

		&__button {

		}
		.main-block {

			// .main-block__contact
	
			&__contact {
			}
	}
	.contact-block {
	
			// .contact-block__item
	
			&__item {
			}
	
			// .contact-block__image
	
			&__image {
			}
	
			// .contact-block__text
	
			&__text {
				font-size: 12px;
				line-height: 1.675;
			}
	
			// .contact-block__description
	
			&__description {
			}
	}
	
	}

	.contact-block {
		gap: 10px;
		justify-content: space-around;
		&__item {
			flex: 1 1 auto;

			&:not(:last-child){
				margin-right: 0;
			}
		}
	
		// .contact-block__image
	
		&__image {
		}
	
		// .contact-block__text
	
		&__text {
		}
	
		// .contact-block__description
	
		&__description {
		}
	}
}
/*---------------------------SLIDER BLOCK-----*/
.page {
	// .page__slider-block

	&__slider-block {
		// background: linear-gradient(180deg, rgba(26, 26, 26, 0.0001) 0%, #1A1A1A 100%), linear-gradient(0deg, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5));
		background: #191919;
	}
}
.slider-block {
	// .slider-block__container

	&__container {
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		padding-bottom: 90px;
		position: relative;
	}

	// .slider-block__body

	&__body {
		margin-top: -240px;
	}

	// .slider-block__text-block

	&__text-block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .slider-block__swiper-body

	&__swiper-body {
		position: relative;
		max-width: 981px;
		height: 100%;
	}
}

.block-text {
	position: relative;
	// .block-text__shadow

	&__shadow {
		font-size: 100px;
		line-height: 1.5;
		font-weight: 900;
		color: #303030;
		padding-top: 60px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
	}

	// .block-text__titile

	&__titile {
		position: absolute;
		text-align: center;
		top: 95px;
		font-size: 30px;
		line-height: 2;
		color: #D9D9D9;
		letter-spacing: 0.2em;
		text-transform: capitalize;
	}
	// .block-text__decriprion

	&__decriprion {
		text-align: center;
		margin-bottom: 90px;
		font-size: 16px;
		line-height: 1.875;
		color: #A6A6A6;
	}
}
.swiper {

	// .swiper__image

	&__image {
		max-width: 100%;
	}
}
.swiper-wrapper {
}
.swiper-slide {
	text-align: center;
}
.swip-button-prev {
	position: absolute;
	top: 50%;
	// left: -121px;
	transform: translate(0%, -50%);
	background: url('../img/slider/left-arrow-icon.svg') 50% 50% no-repeat;
	width: 60px;
	height: 60px;
	z-index: 10;
	border-radius: 50%;
	border: #4D4D4D 1px solid;
}
.swip-button-next {
	position: absolute;
	top: 50%;
	left: 93.5%;
	transform: translate(0%, -50%);
	background: url('../img/slider/right-arrow-icon.svg') 50% 50% no-repeat;
	width: 60px;
	height: 60px;
	z-index: 10;
	border-radius: 50%;
	border: #4D4D4D 1px solid;
}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
	.page {

		// .page__slider-block

		&__slider-block {
		}
}
.slider-block {

		// .slider-block__container

		&__container {
			padding-bottom: 60px;
		}

		// .slider-block__body

		&__body {
		}

		// .slider-block__text-block

		&__text-block {
		}

		// .slider-block__swiper-body

		&__swiper-body {
		}

		// .slider-block__wrapper

		&__wrapper {
		}
}
.block-text {

		// .block-text__shadow

		&__shadow {
		}

		// .block-text__titile

		&__titile {
		}

		// .block-text__decriprion

		&__decriprion {
			margin-bottom: 60px;
		}
}
.swiper {

		// .swiper__image

		&__image {
		}
}
.swiper-wrapper {
}
.swiper-slide {
}
.swip-button-prev {
	top: 50%;
	width: 45px;
	height: 45px;
}
.swip-button-next {
	top: 50%;
	width: 45px;
	height: 45px;
	left: 91%;
}
}

@media (max-width: 575.98px) {
	.page {

		// .page__slider-block

		&__slider-block {
		}
}
.slider-block {

		// .slider-block__container

		&__container {
			padding-bottom: 30px;
		}

		// .slider-block__body

		&__body {
		}

		// .slider-block__text-block

		&__text-block {
		}

		// .slider-block__swiper-body

		&__swiper-body {
			max-width: 450px;
			height: 100%;
		}

		// .slider-block__wrapper

		&__wrapper {
		}
}
.block-text {

		// .block-text__shadow

		&__shadow {
			font-size: 80px;
			line-height: 1.2;
			padding-top: 40px;
		}

		// .block-text__titile

		&__titile {
			top: 65px;
			font-size: 22px;
			line-height: 1.6;
		}

		// .block-text__decriprion

		&__decriprion {
			margin-bottom: 60px;
			font-size: 12px;
			line-height: 1.575;
		}
}
.swiper {

		// .swiper__image

		&__image {
		}
}
.swiper-wrapper {
}
.swiper-slide {
}
.swip-button-prev {
	top: 50%;
	width: 40px;
	height: 40px;
}
.swip-button-next {
	top: 50%;
	width: 40px;
	height: 40px;
	left: 90%;
}

}

@media (min-width: 320px) and (max-width: 419.98px) {
	.page {

		// .page__slider-block

		&__slider-block {
		}
}
.slider-block {

		// .slider-block__container

		&__container {
		}

		// .slider-block__body

		&__body {
		}

		// .slider-block__text-block

		&__text-block {
		}

		// .slider-block__swiper-body

		&__swiper-body {
		}

		// .slider-block__wrapper

		&__wrapper {
		}
}
.block-text {

		// .block-text__shadow

		&__shadow {
			font-size: 56px;
		}

		// .block-text__titile

		&__titile {
			font-size: 14px;
		}

		// .block-text__decriprion

		&__decriprion {
			font-size: 12px;
			margin-bottom: 40px;
		}
}
.swiper {

		// .swiper__image

		&__image {
		}
}
.swiper-wrapper {
}
.swiper-slide {
}
.swip-button-prev {
	top: 50%;
	width: 30px;
	height: 30px;
}
.swip-button-next {
	top: 50%;
	width: 30px;
	height: 30px;
	left: 89%;
}
}

/*---------------------------HOW-IT-WORKS BLOCK-----*/
.page {

	// .page__block-how-works

	&__block-how-works {
		background: #191919;
	}
}
.how-works-block {

	// .how-works-block__container

	&__container {
	}

	// .how-works-block__body

	&__body {
	}

	// .how-works-block__text

	&__text {
		padding-top: 90px;
		margin-bottom: 28px;
	}

	// .how-works-block__divide

	&__divide {
		max-width: 60px;
		border: #34C759 solid 1px;
		margin: 0 auto;
		margin-bottom: 60px;
	}

	// .how-works-block__cards

	&__cards {
		// padding-bottom: 60px;
		margin-bottom: 60px;
	}

	&__empty{
		visibility: hidden;
		max-height: 0px;
	}
}

.text-block {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	// .text-block__shadow

	&__shadow {
		font-size: 100px;
		font-weight: 900;
		line-height: 1.5;
		letter-spacing: 0.2em;
		color: #303030;
		text-transform: uppercase;
		position: absolute;
		font-family: HelveticaNeue;
	}

	// .text-block__title

	&__title-block {
		font-size: 36px;
		line-height: 2.5;
		letter-spacing: 0.33em;
		text-transform: capitalize;
		color: #D9D9D9;
		position: relative;
		padding-top: 25px;
		
	}
}
.cards-block {
	display: flex;
	gap: 30px;
	// padding-bottom: 60px;
	// .cards-block__item

	&__item {
		flex: 1 1 calc((100% / 4) - 90px);
		display: flex;
		flex-direction: column;
	}
}
.item-block-card {
	padding: 24px 24px 0px 24px;
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	min-height: 208px;
	cursor: pointer;
	transition: all 0.35s ease-in-out;
	// .item-block__title

	&:hover{
		color: #191919;
		background-color: #21C759;
	}
	&:hover &__description{
		color: #191919;
	}
	&:hover &__divide{
		border: #191919 solid 1px;
	}

	&__title {
		text-transform: capitalize;
		font-size: 22px;
		line-height: 1.18;
		margin-bottom: 10px;
		letter-spacing: -0.275px;
	}

	// .item-block__divide

	&__divide {
		max-width: 56px;
		border: #34C759 solid 1px;
		margin-bottom: 24px;
	}

	// .item-block__description

	&__description {
		color: rgba(255, 255, 255, 0.5);
		font-size: 13px;
		line-height: 1.384;
	}

	&_active{
		// &:hover{
		// 	color: #191919;
		// 	background-color: #21C759;
		// }
	}
}

@media (max-width: 991.98px) {
	.page {

		// .page__block-how-works

		&__block-how-works {
		}
}
.how-works-block {

		// .how-works-block__container

		&__container {
		}

		// .how-works-block__body

		&__body {
		}

		// .how-works-block__text

		&__text {
			padding-top: 60px;
		}

		// .how-works-block__divide

		&__divide {
			margin-bottom: 40px;
		}

		// .how-works-block__cards

		&__cards {
		}

		// .how-works-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
		}

		// .text-block__title-block

		&__title-block {
		}
}
.cards-block {
	gap: 15px;
		// .cards-block__item
	&__item {
		flex: 1 1 calc((100% / 4) - 45px);
	}
}
.item-block-card {
	min-height: 178px;
	padding: 16px 16px 0px 16px;
		// .item-block-card__title

		&__title {
			font-size: 16px;
		}

		// .item-block-card__divide

		&__divide {
		}

		// .item-block-card__description

		&__description {
		}
}
.item-block {

		// .item-block_active

		&_active {
		}
}

}

@media (max-width: 767.98px) {
	.page {

		// .page__block-how-works

		&__block-how-works {
		}
}
.how-works-block {

		// .how-works-block__container

		&__container {
		}

		// .how-works-block__body

		&__body {
		}

		// .how-works-block__text

		&__text {
		}

		// .how-works-block__divide

		&__divide {
		}

		// .how-works-block__cards

		&__cards {
			flex-wrap: wrap;
		}

		// .how-works-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
		}

		// .text-block__title-block

		&__title-block {
		}
}
.cards-block {

		// .cards-block__item

		&__item {
			flex: 1 1 calc((100% / 2) - 45px);
		}
}
.item-block-card {
		min-height: 138px;
		// .item-block-card__title

		&__title {
		}

		// .item-block-card__divide

		&__divide {
		}

		// .item-block-card__description

		&__description {
		}
}
.item-block {

		// .item-block_active

		&_active {
		}
}
}

@media (max-width: 575.98px) {
	.page {

		// .page__block-how-works

		&__block-how-works {
		}
}
.how-works-block {

		// .how-works-block__container

		&__container {
		}

		// .how-works-block__body

		&__body {
		}

		// .how-works-block__text

		&__text {
		}

		// .how-works-block__divide

		&__divide {
		}

		// .how-works-block__cards

		&__cards {
			flex-wrap: wrap;
		}

		// .how-works-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
		}

		// .text-block__title-block

		&__title-block {
		}
}
.cards-block {

		// .cards-block__item

		&__item {
			flex: 1 1 calc((100% / 2) - 45px);
		}
}
.item-block-card {
		min-height: 168px;
		// .item-block-card__title

		&__title {
		}

		// .item-block-card__divide

		&__divide {
		}

		// .item-block-card__description

		&__description {
		}
}
.item-block {

		// .item-block_active

		&_active {
		}
}
}

@media (min-width: 320px) and (max-width: 419.98px) {
	.page {

		// .page__block-how-works

		&__block-how-works {
		}
}
.how-works-block {

		// .how-works-block__container

		&__container {
		}

		// .how-works-block__body

		&__body {
		}

		// .how-works-block__text

		&__text {
			margin-bottom: 14px;
		}

		// .how-works-block__divide

		&__divide {
			margin-bottom: 20px;
		}

		// .how-works-block__cards

		&__cards {
			flex-wrap: wrap;
		}

		// .how-works-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
		}

		// .text-block__title-block

		&__title-block {
		}
}
.cards-block {

		// .cards-block__item

		&__item {
			flex: 1 1 auto;
		}
}
.item-block-card {
		min-height: 138px;
		// .item-block-card__title

		&__title {
		}

		// .item-block-card__divide

		&__divide {
		}

		// .item-block-card__description

		&__description {
		}
}
.item-block {

		// .item-block_active

		&_active {
		}
}
}
/*---------------------------DISH-OF-THE-DAY-----*/
.page {

	// .page__block-dishes

	&__block-dishes {
		background: #191919;
	}
}
.dishes-block {

	// .dishes-block__container

	&__container {
	}

	// .dishes-block__text

	&__text {
		margin-bottom: 28px;
	}

	// .dishes-block__divide

	&__divide {
		max-width: 60px;
		border: #34C759 solid 1px;
		margin: 0 auto;
		margin-bottom: 60px;
	}

	// .dishes-block__meals

	&__meals {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		margin-bottom: 98px;
	}

	// .dishes-block__item

	&__item {
		flex: 1 1 calc((100% / 3) - 60px);
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		overflow: hidden;
	}

	// .dishes-block__picture

	&__picture {
		margin-bottom: 108px;
		position: relative;
		padding: 0px 0px 52% 0px;
	
	}

	// .dishes-block__image

	&__image {
		width: 100%;
		max-height: 260px;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}

	// .dishes-block__description

	&__description {
		padding: 0 30px;
	}

	// .dishes-block__title

	&__title {
		font-size: 32px;
		line-height: 30px;
		color: #D9D9D9;
	}

	// .dishes-block__small-description

	&__small-description {
		font-size: 12px;
		line-height: 16px;
		letter-spacing: -0.15px;
		color: #A4A8B2;
		margin-bottom: 20px;
	}

	// .dishes-block__order

	&__order {
		padding: 0 30px;
	}

	&__empty{
		visibility: hidden;
		max-height: 0px;
	}
}

.text-block {

	// .text-block__shadow

	&__shadow {
	}

	// .text-block__title

	&__title-block {
	}
}
.dishes-blockbigger-description {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.1625px;
	color: #85878C;
	margin-bottom: 20px;
}
.order-block {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	justify-content: space-between;
	// .order-block__grade

	&__grade {
		display: flex;
		align-items:flex-end;
	}

	// .order-block__image

	&__image {
		margin-right: 10px;
	}

	// .order-block__votes

	&__votes {
		margin-right: 10px;
	}

	// .order-block__button

	&__button {
		display: flex;
		align-items: center;
		font-weight: 900;
		font-size: 10px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.5);
		background: #262626;
		// line-height: 40px;
		height: 40px;
		padding: 0 30px;
		border-radius: 30px;
		border: 2px solid #303030;
		transition: all 0.5s ease-out;
		// .order-block__button_active

		// &_active {
		// 	background: #34C759;
		// 	color: #252525;
		// 	padding: 0 32px;
		// 	border: 0px;
		// }
		&:hover{
			background: #34C759;
			color: #252525;
			padding: 0 32px;
			border: 0px;
			cursor: pointer;
		}
	}
}


@media (max-width: 991.98px) {
	.page {

		// .page__block-dishes

		&__block-dishes {
		}
}
.dishes-block {

		// .dishes-block__container

		&__container {
		}

		// .dishes-block__text

		&__text {
		}

		// .dishes-block__divide

		&__divide {
		}

		// .dishes-block__meals

		&__meals {
			margin-bottom: 68px;
			gap: 20px;
		}

		// .dishes-block__item

		&__item {
		}

		// .dishes-block__picture

		&__picture {
			margin-bottom: 82px;
		}

		// .dishes-block__image

		&__image {
		}

		// .dishes-block__description

		&__description {
			padding: 0 15px;
		}

		// .dishes-block__title

		&__title {
			font-size: 30px;
		}

		// .dishes-block__small-description

		&__small-description {
		}

		// .dishes-block__order

		&__order {
			flex-direction: column;
			gap: 10px;
		}

		// .dishes-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
		}

		// .text-block__title-block

		&__title-block {
		}
}
.dishes-blockbigger-description {
}
.order-block {

		// .order-block__grade

		&__grade {
		}

		// .order-block__image

		&__image {
		}

		// .order-block__votes

		&__votes {
		}

		// .order-block__button

		&__button {

			// .order-block__button_active

			&_active {
			}
		}
}
}

@media (max-width: 767.98px) {
	.page {

		// .page__block-dishes

		&__block-dishes {
		}
}
.dishes-block {

		// .dishes-block__container

		&__container {
		}

		// .dishes-block__text

		&__text {
		}

		// .dishes-block__divide

		&__divide {
		}

		// .dishes-block__meals

		&__meals {
		}

		// .dishes-block__item

		&__item {
			flex: 1 1 calc((100% / 2) - 20px);
		}

		// .dishes-block__picture

		&__picture {
		}

		// .dishes-block__image

		&__image {
		}

		// .dishes-block__description

		&__description {
		}

		// .dishes-block__title

		&__title {
		}

		// .dishes-block__small-description

		&__small-description {
		}

		// .dishes-block__order

		&__order {
		}

		// .dishes-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
		}

		// .text-block__title-block

		&__title-block {
		}
}
.dishes-blockbigger-description {
}
.order-block {

		// .order-block__grade

		&__grade {
		}

		// .order-block__image

		&__image {
		}

		// .order-block__votes

		&__votes {
		}

		// .order-block__button

		&__button {

			// .order-block__button_active

			&_active {
			}
		}
}
}

@media (max-width: 575.98px) {
	.page {

		// .page__block-dishes

		&__block-dishes {
		}
}
.dishes-block {

		// .dishes-block__container

		&__container {
		}

		// .dishes-block__text

		&__text {
		}

		// .dishes-block__divide

		&__divide {
		}

		// .dishes-block__meals

		&__meals {
			gap: 10px;
			margin-bottom: 60px;
		}

		// .dishes-block__item

		&__item {
		}

		// .dishes-block__picture

		&__picture {
			margin-bottom: 52px;
		}

		// .dishes-block__image

		&__image {
		}

		// .dishes-block__description

		&__description {
		}

		// .dishes-block__title

		&__title {
			font-size: 22px;
		}

		// .dishes-block__small-description

		&__small-description {
		}

		// .dishes-block__order

		&__order {
		}

		// .dishes-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
			font-size: 70px;
		}

		// .text-block__title-block

		&__title-block {
			font-size: 22px;
		}
}
.dishes-blockbigger-description {
}
.order-block {

		// .order-block__grade

		&__grade {
		}

		// .order-block__image

		&__image {
		}

		// .order-block__votes

		&__votes {
		}

		// .order-block__button

		&__button {

			// .order-block__button_active

			&_active {
			}
		}
}
}

@media (min-width: 320px) and (max-width: 419.98px) {
	.page {

		// .page__block-dishes

		&__block-dishes {
		}
}
.dishes-block {

		// .dishes-block__container

		&__container {
		}

		// .dishes-block__text

		&__text {
			margin-bottom: 14px;
		}

		// .dishes-block__divide

		&__divide {
			margin-bottom: 20px;
		}

		// .dishes-block__meals

		&__meals {
		}

		// .dishes-block__item

		&__item {
			flex: 1 1 auto;
		}

		// .dishes-block__picture

		&__picture {
			margin-bottom: 80px;
		}

		// .dishes-block__image

		&__image {
		}

		// .dishes-block__description

		&__description {
		}

		// .dishes-block__title

		&__title {
		}

		// .dishes-block__small-description

		&__small-description {
		}

		// .dishes-block__order

		&__order {
		}

		// .dishes-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
			font-size: 50px;
		}

		// .text-block__title-block

		&__title-block {
			font-size: 18px;
		}
}
.dishes-blockbigger-description {
}
.order-block {

		// .order-block__grade

		&__grade {
		}

		// .order-block__image

		&__image {
		}

		// .order-block__votes

		&__votes {
		}

		// .order-block__button

		&__button {

			// .order-block__button_active

			&_active {
			}
		}
}
}

/*---------------------------CHEFS-OF-THE-MONTH-----*/
.page {

	// .page__block-chefs

	&__block-chefs {

		background: #191919;
	}
}
.chefs-block {

	// .chefs-block__container

	&__container {
	}

	// .chefs-block__text

	&__text {
		margin-bottom: 28px;
	}

	// .chefs-block__divide

	&__divide {
		max-width: 60px;
		border: #34C759 solid 1px;
		margin: 0 auto;
		margin-bottom: 38px;
	}

	// .chefs-block__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: space-between;
		margin-bottom: 60px;
	}

	// .chefs-block__item

	&__item {
		// width: 350px;
		flex: 1 1 calc((100% / 3) - 60px);
		max-width: 350px;
	}

	// .chefs-block__description

	&__description {
		display: flex;
		align-items: center;
		margin-bottom: 24px;
	}

	// .chefs-block__photo

	&__photo {
		margin-right: 24px;
	}

	// .chefs-block__image

	&__image {
	}

	// .chefs-block__info

	&__info {
	}

	// .chefs-block__name

	&__name {
		font-size: 18px;
		line-height: 21px;
		letter-spacing: -0.225px;
		color: #FFFFFF;
		margin-bottom: 6px;
	}

	// .chefs-block__about

	&__about {
		font-size: 12px;
		line-height: 16px;
		letter-spacing: -0.15px;
		color: rgba(255, 255, 255, 0.5);
	}

	// .chefs-block__pictures

	&__pictures {
		display: flex;
		justify-content: space-between;
	}

	// .chefs-block__picture-item

	&__picture-item {
	}

	&__empty{
		visibility: hidden;
		max-height: 0px;
	}
}
.text-block {

	// .text-block__shadow

	&__shadow {
	}

	// .text-block__title

	&__title {
	}
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {
	.page {

		// .page__block-chefs

		&__block-chefs {
		}
}
.chefs-block {

		// .chefs-block__container

		&__container {
		}

		// .chefs-block__text

		&__text {
		}

		// .chefs-block__divide

		&__divide {
		}

		// .chefs-block__list

		&__list {
			flex-direction: column;
			align-items: center;
		}

		// .chefs-block__item

		&__item {
		}

		// .chefs-block__description

		&__description {
		}

		// .chefs-block__photo

		&__photo {
		}

		// .chefs-block__image

		&__image {
		}

		// .chefs-block__info

		&__info {
		}

		// .chefs-block__name

		&__name {
		}

		// .chefs-block__about

		&__about {
		}

		// .chefs-block__pictures

		&__pictures {
		}

		// .chefs-block__picture-item

		&__picture-item {
		}

		// .chefs-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
		}

		// .text-block__title-block

		&__title-block {
		}
}
}

@media (max-width: 575.98px) {
	.page {

		// .page__block-chefs

		&__block-chefs {
		}
}
.chefs-block {

		// .chefs-block__container

		&__container {
		}

		// .chefs-block__text

		&__text {
		}

		// .chefs-block__divide

		&__divide {
		}

		// .chefs-block__list

		&__list {
			flex-direction: column;
			align-items: center;
		}

		// .chefs-block__item

		&__item {
		}

		// .chefs-block__description

		&__description {
		}

		// .chefs-block__photo

		&__photo {
		}

		// .chefs-block__image

		&__image {
		}

		// .chefs-block__info

		&__info {
		}

		// .chefs-block__name

		&__name {
		}

		// .chefs-block__about

		&__about {
		}

		// .chefs-block__pictures

		&__pictures {
		}

		// .chefs-block__picture-item

		&__picture-item {
		}

		// .chefs-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
		}

		// .text-block__title-block

		&__title-block {
		}
}
}

@media (min-width: 320px) and (max-width: 419.98px) {
	.page {

		// .page__block-chefs

		&__block-chefs {
		}
}
.chefs-block {

		// .chefs-block__container

		&__container {
		}

		// .chefs-block__text

		&__text {
			margin-bottom: 14px;
		}

		// .chefs-block__divide

		&__divide {
			margin-bottom: 20px;
		}

		// .chefs-block__list

		&__list {
		}

		// .chefs-block__item

		&__item {
		}

		// .chefs-block__description

		&__description {
		}

		// .chefs-block__photo

		&__photo {
		}

		// .chefs-block__image

		&__image {
		}

		// .chefs-block__info

		&__info {
		}

		// .chefs-block__name

		&__name {
		}

		// .chefs-block__about

		&__about {
		}

		// .chefs-block__pictures

		&__pictures {
		}

		// .chefs-block__picture-item

		&__picture-item {
		}

		// .chefs-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
		}

		// .text-block__title-block

		&__title-block {
		}
}
}


/*---------------------------RECIPES-FROM-CHEFS-----*/
.page {

	// .page__block-recipes

	&__block-recipes {
		background: #191919;
	}
}
.recipes-block {

	// .recipes-block__container

	&__container {
	}

	// .recipes-block__text

	&__text {
		margin-bottom: 28px;
	}

	// .recipes-block__divide

	&__divide {
		max-width: 60px;
		border: #34C759 solid 1px;
		margin: 0 auto;
		margin-bottom: 59px;
	}

	// .recipes-block__views

	&__views {
		display: flex;
		gap: 30px;
		margin-bottom: 120px;
	}

	// .recipes-block__big-view

	&__big-view {
	}

	// .recipes-block__small-views

	&__small-views {
	}
	&__empty{
		visibility: hidden;
		max-height: 0px;
	}
}

.text-block {

	// .text-block__shadow

	&__shadow {
	}

	// .text-block__title

	&__title {
	}
}
.big-view-block {
	flex: 0 1 50%;
	text-align: center;
	background: linear-gradient(180deg, rgba(38, 38, 38, 0.0001) 0%, rgba(38, 38, 38, 0.5) 100%), url('../img/recepies/big-image.jpg') 50% / cover no-repeat;
	border-radius: 6px;
	position: relative;
	transition: all 0.5s ease;
	// .big-view-block__eat-time

	&__eat-time {
		display: inline-block;
		font-weight: 900;
		font-size: 10px;
		line-height: 25px;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		background: rgba(0, 0, 0, 0.3);
		mix-blend-mode: normal;
		padding: 0 16.5px;
		margin: 60px 0 65px;
		border-radius: 3px;
	}

	// .big-view-block__date

	&__date {
		line-height: 30px;
		margin-bottom: 25px;
	}

	// .big-view-block__description

	&__description {
		font-size: 24px;
		line-height: 1.67;
		margin-bottom: 45px;
	}

	// .big-view-block__chef-name

	&__chef-name {
		line-height: 30px;
		text-transform: capitalize;
		margin-bottom: 60px;
	}

	// .big-view-block__socials

	&__socials {
		display: flex;
		justify-content: center;
		margin-bottom: 60px;
	}

	// .big-view-block__views

	&__views {
		margin-right: 84px;
		position: relative;
		&::before{
			content: '';
			display: inline-block;
			width: 22px;
			height: 15px;
			background: url('../img/recepies/eye-icon.svg') 0 0 no-repeat;
			position: absolute;
			top: -3px;
			left: -37px;
		}
	}

	// .big-view-block__comments

	&__comments {
		position: relative;
		&::before{
			content: '';
			display: inline-block;
			width: 22px;
			height: 15px;
			background: url('../img/recepies/question-icon.svg') 0 0 no-repeat;
			position: absolute;
			top: -3px;
			left: -37px;
		}
	}

	// .big-view-block__button

	&__button {
		position: absolute;
		top: 44px;
		right: 44px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: rgba(0, 0, 0, 0.4);
	}

	&__button-image{
		position: relative;
		top: 30%;
	}

	&:hover{
		cursor: pointer;
		background: #34C759;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
		color: #191919;
		& [class*="__eat-time"] {
			background: #000000;
			mix-blend-mode: normal;
			color: #FFFFFF;
		}
		& [class*="__comments"]{
			&::before{
				content: '';
				display: inline-block;
				width: 22px;
				height: 15px;
				background: url('../img/recepies/black-message.svg') 0 0 no-repeat;
				position: absolute;
				top: -3px;
				left: -37px;
			}
		}
		& [class*="__views"]{
			&::before{
				content: '';
				display: inline-block;
				width: 22px;
				height: 15px;
				background: url('../img/recepies/black-eye.svg') 0 0 no-repeat;
				position: absolute;
				top: -3px;
				left: -37px;
			}
		}
	}
}
.small-views-block {
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// .small-views-block__item
	&__item {
		overflow: hidden;
		transition: all 0.5s ease;
		&:first-child{
			background: #252525;
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
			border-radius: 6px;
		}
		&:nth-child(2){
			background: url('../img/recepies/small-image.jpg') 0 0/cover no-repeat;
			border-radius: 6px;
		}
	
		&:last-child{
			background: #252525;
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
			border-radius: 6px;
		}

		&:hover{
			cursor: pointer;
			background: rgba(52, 199, 89, 1);
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
			
			& div .small-views-block__description{
				color: #252525;
			}
			& [class*="__eat-time"] {
				background: #000000;
				mix-blend-mode: normal;
			}
			& [class*="__date"]{
				color: #1A1A1A;
			}
			& [class*="__views"],& [class*="__comments"] {
				color: #1A1A1A;
			}
			& [class*="__views"]{
				&::before{
					content: '';
					display: inline-block;
					width: 22px;
					height: 15px;
					background: url('../img/recepies/black-eye.svg') 0 0 no-repeat;
					position: absolute;
					top: -3px;
					left: -37px;
				}
			}
			& [class*="__comments"]{
				&::before{
					content: '';
					display: inline-block;
					width: 22px;
					height: 15px;
					background: url('../img/recepies/black-message.svg') 0 0 no-repeat;
					position: absolute;
					top: -3px;
					left: -37px;
				}
			}
		}
	}
	
	// .small-views-block__content

	&__content {
		padding: 30px 28px 25px 35px;
	}

	// .small-views-block__description

	&__description {
		font-size: 16px;
		line-height: 1.875;
		margin-bottom: 10px;
	}

	// .small-views-block__data

	&__data {
		display: flex;
		justify-content: space-between;
	}

	// .small-views-block__time-block

	&__time-block {
		display: flex;
		align-items: center;
	}

	//.small-views-block__eat-time
	&__eat-time{
		font-weight: 900;
		font-size: 10px;
		// line-height: 25px;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		padding: 9px 17px;
		background: rgba(0, 0, 0, 0.3);
		mix-blend-mode: normal;
		border-radius: 3px;
		margin-right: 10px;
	}

	// .small-views-block__date

	&__date {
		font-size: 12px;
		color: #B3B3B3;
	}

	// .small-views-block__socials

	&__socials {
		display: flex;
		align-items: center;
	}

	// .small-views-block__views

	&__views {
		font-weight: 700;
		font-size: 12px;
		color: #D8D8D8;
		position: relative;
		margin-right: 64px;
		&::before{
			content: '';
			display: inline-block;
			width: 22px;
			height: 15px;
			position: absolute;
			top: -4px;
			left: -36px;
			background: url('../img/recepies/eye-icon.svg') 0 0 no-repeat;
		}
	}

	// .small-views-block__comments

	&__comments {
		font-weight: 700;
		font-size: 12px;
		color: #D8D8D8;
		position: relative;
		&::before{
			content: '';
			display: inline-block;
			width: 22px;
			height: 15px;
			position: absolute;
			top: -4px;
			left: -36px;
			background: url('../img/recepies/question-icon.svg') 0 0 no-repeat;
		}
	}
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
	.page {

		// .page__block-recipes

		&__block-recipes {
		}
}
.recipes-block {

		// .recipes-block__container

		&__container {
		}

		// .recipes-block__text

		&__text {
		}

		// .recipes-block__divide

		&__divide {
		}

		// .recipes-block__views

		&__views {
			gap: 20px;
			margin-bottom: 70px;
		}

		// .recipes-block__big-view

		&__big-view {
		}

		// .recipes-block__small-views

		&__small-views {
		}

		// .recipes-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
		}

		// .text-block__title-block

		&__title-block {
		}
}
.big-view-block {

		// .big-view-block__eat-time

		&__eat-time {
		}

		// .big-view-block__date

		&__date {
		}

		// .big-view-block__description

		&__description {
			font-size: 20px;
		}

		// .big-view-block__chef-name

		&__chef-name {
		}

		// .big-view-block__socials

		&__socials {
		}

		// .big-view-block__views

		&__views {
		}

		// .big-view-block__comments

		&__comments {
		}

		// .big-view-block__button

		&__button {
		}

		// .big-view-block__button-image

		&__button-image {
		}
}
.small-views-block {

		// .small-views-block__item

		&__item {
		}

		// .small-views-block__content

		&__content {
			padding: 20px 22px 18px 25px;
		}

		// .small-views-block__description

		&__description {
			font-size: 14px;
		}

		// .small-views-block__data

		&__data {
		}

		// .small-views-block__time-block

		&__time-block {
		}

		// .small-views-block__eat-time

		&__eat-time {
		}

		// .small-views-block__date

		&__date {
		}

		// .small-views-block__socials

		&__socials {
		}

		// .small-views-block__views

		&__views {
		}

		// .small-views-block__comments

		&__comments {
		}
}
}

@media (max-width: 767.98px) {
	.page {

		// .page__block-recipes

		&__block-recipes {
		}
}
.recipes-block {

		// .recipes-block__container

		&__container {
		}
		// .recipes-block__text

		&__text {
		}

		// .recipes-block__divide

		&__divide {
			margin-bottom: 39px;
		}

		// .recipes-block__views

		&__views {
			flex-direction: column;
			gap: 10px;
			margin-bottom: 40px;
		}

		// .recipes-block__big-view

		&__big-view {
		}

		// .recipes-block__small-views

		&__small-views {
		}

		// .recipes-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
		}

		// .text-block__title-block

		&__title-block {
		}
}
.big-view-block {

		// .big-view-block__eat-time

		&__eat-time {
			margin: 20px 0 25px 0;
		}

		// .big-view-block__date

		&__date {
			margin-bottom: 15px;
		}

		// .big-view-block__description

		&__description {
			font-size: 14px;
			margin-bottom: 20px;
			br{
				display: none;
			}
		}

		// .big-view-block__chef-name

		&__chef-name {
			margin-bottom: 25px;
		}

		// .big-view-block__socials

		&__socials {
			margin-bottom: 30px;
		}

		// .big-view-block__views

		&__views {
		}

		// .big-view-block__comments

		&__comments {
		}

		// .big-view-block__button

		&__button {
			top: 20px;
			right: 20px;
		}

		// .big-view-block__button-image

		&__button-image {
		}
}
.small-views-block {
	gap: 10px;
		// .small-views-block__item

		&__item {
		}

		// .small-views-block__content

		&__content {
		}

		// .small-views-block__description

		&__description {
		}

		// .small-views-block__data

		&__data {
		}

		// .small-views-block__time-block

		&__time-block {
		}

		// .small-views-block__eat-time

		&__eat-time {
		}

		// .small-views-block__date

		&__date {
		}

		// .small-views-block__socials

		&__socials {
		}

		// .small-views-block__views

		&__views {
		}

		// .small-views-block__comments

		&__comments {
		}
}
}

@media (max-width: 575.98px) {
}

@media (min-width: 320px) and (max-width: 419.98px) {
	.page {

		// .page__block-recipes

		&__block-recipes {
		}
}
.recipes-block {

		// .recipes-block__container

		&__container {
		}

		// .recipes-block__text

		&__text {
		}

		// .recipes-block__divide

		&__divide {
		}

		// .recipes-block__views

		&__views {
		}

		// .recipes-block__big-view

		&__big-view {
		}

		// .recipes-block__small-views

		&__small-views {
		}

		// .recipes-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
		}

		// .text-block__title-block

		&__title-block {
		}
}
.big-view-block {

		// .big-view-block__eat-time

		&__eat-time {
		}

		// .big-view-block__date

		&__date {
		}

		// .big-view-block__description

		&__description {
		}

		// .big-view-block__chef-name

		&__chef-name {
		}

		// .big-view-block__socials

		&__socials {
		}

		// .big-view-block__views

		&__views {
		}

		// .big-view-block__comments

		&__comments {
		}

		// .big-view-block__button

		&__button {
		}

		// .big-view-block__button-image

		&__button-image {
		}
}
.small-views-block {

		// .small-views-block__item

		&__item {
		}

		// .small-views-block__content

		&__content {
		}

		// .small-views-block__description

		&__description {
		}

		// .small-views-block__data

		&__data {
			flex-direction: column-reverse;
			align-items: center;
			gap: 10px;
		}

		// .small-views-block__time-block

		&__time-block {
		}

		// .small-views-block__eat-time

		&__eat-time {
		}

		// .small-views-block__date

		&__date {
		}

		// .small-views-block__socials

		&__socials {
			margin-left: 30px;
		}
		// .small-views-block__views

		&__views {
		}

		// .small-views-block__comments

		&__comments {
		}
}

}

/*---------------------------SOCIALS-----*/
.page {

	// .page__block-social

	&__block-social {
		background: #191919;
	}
}
.social-block {

	// .social-block__container

	&__container {
	}

	// .social-block__text

	&__text {
		margin-bottom: 28px;
	}

	// .social-block__divide

	&__divide {
		max-width: 60px;
		border: #34C759 solid 1px;
		margin: 0 auto;
		margin-bottom: 60px;
	}

	// .social-block__networks

	&__networks {
		 display: flex;
		 gap: 30px;
		 margin-bottom: 120px;
	}

	//__empty
	&__empty{
		visibility: hidden;
		max-height: 0px;
	}

	// .social-block__item

	&__item {
		flex: 1 1 calc((100% / 3) - 60px);
		background: #252525;
		border-radius: 6px;
		max-height: 360px;
		overflow: hidden;
	}
}

.text-block {

	// .text-block__shadow

	&__shadow {
	}

	// .text-block__title

	&__title {
	}
}
.item-block {

	// .item-block__header

	&__header-item {
		height: 100%;
	}


	// .item-block__header-info

	&__header-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 25px;
	}

	//__net-info

	&__net-info{
		display: flex;
		align-items: center;
	}

	&__header-devider{
		height: 2px;
		background: #303030;
		margin-bottom: 20px;
	}

	// __image-block
	&__image-block{
		margin-right: 20px;
	}
	&:first-child &__image-block{
			width: 44px;
			height: 44px;
			background: #262626;
			border: 2px solid #303030;
			border-radius: 50%;
			position: relative;
			&::after{
				content: '';
				position: absolute;
				top: 15%;
				left: 15%;
				width: 28px;
				height: 28px;
				background: url('../img/socials/twitter-icon.svg') 0 0 no-repeat;
			}
		}
		&:nth-child(2) &__image-block{
			width: 44px;
			height: 44px;
			background: #262626;
			border: 2px solid #303030;
			border-radius: 50%;
			position: relative;
			&::after{
				content: '';
				position: absolute;
				top: 15%;
				left: 15%;
				width: 28px;
				height: 28px;
				background: url('../img/socials/instagram-icon.svg') 0 0 no-repeat;
			}
		}
		&:last-child &__image-block{
			width: 44px;
			height: 44px;
			background: #262626;
			border: 2px solid #303030;
			border-radius: 50%;
			position: relative;
			&::after{
				content: '';
				position: absolute;
				top: 15%;
				left: 15%;
				width: 28px;
				height: 28px;
				background: url('../img/socials/facebook-icon.svg') 0 0 no-repeat;
			}
		}
	// .item-block__image
	&:nth-child(2) [class*="__body"]{
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		height: 280px;
	}
	&__image {
		position: relative;
		z-index: 10;
	}

	//__header-net-name

	&__header-net-name{
		font-size: 14px;
		color: #BFBFBF;
	}

	// .item-block__button

	&__button {
		color: #737373;
		font-weight: 900;
		font-size: 8px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		padding: 14px 16px;
		border: 2px solid #303030;
		border-radius: 30px;
		transition: all 0.5s ease;

		&:hover{
			cursor: pointer;
			background: #34C759;
			color: #252525;
		}
	}

	// .item-block__body
	
	&__body {
		padding: 0 20px 0 30px;
		margin-right: 10px;
		height: 245px;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 4px;
		 }
		 &::-webkit-scrollbar-track {
			background-color: #252525;
			border-radius: 100px;
		 }
		 &::-webkit-scrollbar-thumb {
			background-color: #303030;;
			border-radius: 100px;
		 }
	}

	// .item-block__body-time

	&__body-time {
		line-height: 2.14;
		color: #737373;
	}

	// .item-block__body-text

	&__body-text {
		line-height: 2.14;
		color: rgba(255, 255, 255, 0.7);
	}

	// .item-block__body-link

	&__body-link {
		line-height: 2.14;
		color: #34C759;
	}

	// .item-block__net-image

	&__net-image {
	}

	// .item-block__image-block

	&__picture-block {
		flex: 0 1 calc((100% / 3));
	}

	// .item-block__picture

	&__picture {
		width: 100%;
		object-fit: fill;
		// height: 110px;
	}
}
@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
	.page {

		// .page__block-social

		&__block-social {
		}
}
.social-block {

		// .social-block__container

		&__container {
		}

		// .social-block__text

		&__text {
		}

		// .social-block__divide

		&__divide {
		}

		// .social-block__networks

		&__networks {
			gap: 15px;
		 	margin-bottom: 90px;
		}

		// .social-block__item

		&__item {
			flex: 1 1 calc((100% / 3) - 30px);
		}

		// .social-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
		}

		// .text-block__title-block

		&__title-block {
		}
}
.item-block {
	max-height: 300px;
		// .item-block__header

		&__header {
		}

		// .item-block__header-info

		&__header-info {
			padding: 10px;
		}

		// .item-block__net-info

		&__net-info {
		}

		// .item-block__image-block

		&__image-block {
			margin-right: 10px;
		}
		// .item-block__header-net-name

		&__header-net-name {
		}

		// .item-block__button

		&__button {
		}

		// .item-block__header-devider

		&__header-devider {
		}

		// .item-block__body

		&__body {
			padding: 0 10px 0 20px;
			max-height: 220px;
		}

		// .item-block__body-time

		&__body-time {
		}

		// .item-block__body-text

		&__body-text {
		}

		// .item-block__body-link

		&__body-link {
		}

		// .item-block__picture-block

		&__picture-block {
		}

		// .item-block__picture

		&__picture {
		}
}
}

@media (max-width: 767.98px) {
	.page {

		// .page__block-social

		&__block-social {
		}
}
.social-block {

		// .social-block__container

		&__container {
		}

		// .social-block__text

		&__text {
		}

		// .social-block__divide

		&__divide {
		}

		// .social-block__networks

		&__networks {
			margin-bottom: 70px;
		}

		// .social-block__item

		&__item {
		}

		// .social-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
		}

		// .text-block__title-block

		&__title-block {
		}
}
.item-block {
		max-height: 240px;
		// .item-block__header

		&__header {
		}

		// .item-block__header-info

		&__header-info {
		}

		// .item-block__net-info

		&__net-info {
		}

		// .item-block__image-block

		&__image-block {
		}

		// .item-block__header-net-name

		&__header-net-name {
			display: none;
		}

		// .item-block__button

		&__button {
			font-size: 7px;
		}

		// .item-block__header-devider

		&__header-devider {
		}

		// .item-block__body

		&__body {
			max-height: 155px;
			font-size: 10px;
		}

		// .item-block__body-time

		&__body-time {
		}

		// .item-block__body-text

		&__body-text {
		}

		// .item-block__body-link

		&__body-link {
		}

		// .item-block__picture-block

		&__picture-block {
		}

		// .item-block__picture

		&__picture {
		}
}
}

@media (max-width: 575.98px) {
	.page {

		// .page__block-social

		&__block-social {
		}
}
.social-block {

		// .social-block__container

		&__container {
		}

		// .social-block__text

		&__text {
		}

		// .social-block__divide

		&__divide {
		}

		// .social-block__networks

		&__networks {
			flex-direction: column;
		}

		// .social-block__item

		&__item {
		}

		// .social-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
		}

		// .text-block__title-block

		&__title-block {
		}
}
.item-block {

		// .item-block__header

		&__header {
		}

		// .item-block__header-info

		&__header-info {
		}

		// .item-block__net-info

		&__net-info {
		}

		// .item-block__image-block

		&__image-block {
		}

		// .item-block__header-net-name

		&__header-net-name {
			display: inline;
		}

		// .item-block__button

		&__button {
		}

		// .item-block__header-devider

		&__header-devider {
		}

		// .item-block__body

		&__body {
			font-size: 12px;
		}

		// .item-block__body-time

		&__body-time {
		}

		// .item-block__body-text

		&__body-text {
		}

		// .item-block__body-link

		&__body-link {
		}

		// .item-block__picture-block

		&__picture-block {
		}

		// .item-block__picture

		&__picture {
		}
}
}

@media (min-width: 320px) and (max-width: 419.98px) {
	.page {

		// .page__block-social

		&__block-social {
		}
}
.social-block {

		// .social-block__container

		&__container {
		}

		// .social-block__text

		&__text {
		}

		// .social-block__divide

		&__divide {
		}

		// .social-block__networks

		&__networks {
			margin-bottom: 50px;
		}

		// .social-block__item

		&__item {
		}

		// .social-block__empty

		&__empty {
		}
}
.text-block {

		// .text-block__shadow

		&__shadow {
		}

		// .text-block__title-block

		&__title-block {
		}
}
.item-block {

		// .item-block__header

		&__header {
		}

		// .item-block__header-info

		&__header-info {
		}

		// .item-block__net-info

		&__net-info {
		}

		// .item-block__image-block

		&__image-block {
		}

		// .item-block__header-net-name

		&__header-net-name {
		}

		// .item-block__button

		&__button {
		}

		// .item-block__header-devider

		&__header-devider {
		}

		// .item-block__body

		&__body {
		}

		// .item-block__body-time

		&__body-time {
		}

		// .item-block__body-text

		&__body-text {
		}

		// .item-block__body-link

		&__body-link {
		}

		// .item-block__picture-block

		&__picture-block {
		}

		// .item-block__picture

		&__picture {
		}
}
}

/*---------------------------FOOTER BLOCK-----*/
.footer {
	background: #252525;
	position: relative;
	// .footer__container

	&__container {
	}

	// .footer__body

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .footer__top-block

	&__top-block {
		display: flex;
		width: 100%;
		justify-content:space-around;
		margin-bottom: 35px;
	}

	//footer__divider
	&__divider{
		height: 2px;
		background: #303030;
		width: 100%;
		position: absolute;
		top: 52%;
		left: 0;
	}

	// .footer__down-block

	&__down-block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .footer__logo

	&__logo {
		margin-bottom: 10px;
	}

	// .footer__text

	&__text {
		color: #737373;
		font-size: 12px;
		line-height: 60px;
		margin-bottom: 30px;
	}
}
.block-top-footer {

	// .block-top-footer__item

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .block-top-footer__image

	&__image {
		padding-top: 35px;
		margin-bottom: 16px;
	}

	// .block-top-footer__name

	&__name {
		font-size: 16px;
		line-height: 1.875;
	}

	// .block-top-footer__description

	&__description {
		line-height: 4.28;
		mix-blend-mode: normal;
		opacity: 0.5;
	}
}

@media (max-width: 991.98px) {
	.footer {

		// .footer__container

		&__container {
		}

		// .footer__body

		&__body {
		}

		// .footer__top-block

		&__top-block {
		}

		// .footer__divider

		&__divider {
		}

		// .footer__down-block

		&__down-block {
		}

		// .footer__logo

		&__logo {
		}

		// .footer__text

		&__text {
		}
}
.block-top-footer {

		// .block-top-footer__item

		&__item {
		}

		// .block-top-footer__image

		&__image {
		}

		// .block-top-footer__name

		&__name {
		}

		// .block-top-footer__description

		&__description {
		}
}
}

@media (max-width: 767.98px) {
	.footer {

		// .footer__container

		&__container {
		}

		// .footer__body

		&__body {
		}

		// .footer__top-block

		&__top-block {
		}

		// .footer__divider

		&__divider {
		}

		// .footer__down-block

		&__down-block {
		}

		// .footer__logo

		&__logo {
		}

		// .footer__text

		&__text {
		}
}
.block-top-footer {

		// .block-top-footer__item

		&__item {
		}

		// .block-top-footer__image

		&__image {
		}

		// .block-top-footer__name

		&__name {
			font-size: 13px;
		}

		// .block-top-footer__description

		&__description {
			font-size: 11px;
		}
}
}

@media (max-width: 575.98px) {
	.footer {

		// .footer__container

		&__container {
		}

		// .footer__body

		&__body {
		}

		// .footer__top-block

		&__top-block {
		}

		// .footer__divider

		&__divider {
		}

		// .footer__down-block

		&__down-block {
		}

		// .footer__logo

		&__logo {
		}

		// .footer__text

		&__text {
		}
}
.block-top-footer {

		// .block-top-footer__item

		&__item {
		}

		// .block-top-footer__image

		&__image {
		}

		// .block-top-footer__name

		&__name {
			font-size: 12px;
		}

		// .block-top-footer__description

		&__description {
			font-size: 10px;
		}
		
}
}

@media (min-width: 320px) and (max-width: 419.98px) {
	.footer {

		// .footer__container

		&__container {
		}

		// .footer__body

		&__body {
		}

		// .footer__top-block

		&__top-block {
			flex-direction: column;
			align-items: center;
		}

		// .footer__divider

		&__divider {
		}

		// .footer__down-block

		&__down-block {
		}

		// .footer__logo

		&__logo {
		}

		// .footer__text

		&__text {
			margin-bottom: 10px;
		}
}
.block-top-footer {

		// .block-top-footer__item

		&__item {
			flex-direction: row;

			&:not(:last-child){
				margin-bottom: 20px;
			}

			&:first-child{
				padding-top: 20px;
			}
		}
		

		// .block-top-footer__image

		&__image {
			margin: 0;
			padding: 0;
			margin-right: 20px;
		}

		// .block-top-footer__name

		&__name {
			line-height: 1;
			margin-right: 20px;
		}

		// .block-top-footer__description

		&__description {
			line-height: 1;
		}
}
}